.flexContainer {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .flexContainer {
    flex-direction: row;
  }
}

.timeRangeSection {
  min-width: 500px; /* replace with the minimum acceptable width for TimeRangeSection */

}
